{
    "env": {
        "browser": true,
        "node": true,
        "es2024": true,
    },
    "extends": ["eslint:recommended", "prettier"],
    "parserOptions": {
        "sourceType": "module",
    },
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error",
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
    },
}
