<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <!--/* Using default model binding */-->
        <title>${model.title}</title>
        <meta name="description" content="${model.description}" />
    </head>

    <body>
        <sly data-sly-include="body.html"></sly>
        <script type="text/javascript" src="/hot.js" async></script>
        <script type="text/javascript" src="/main.js" async></script>
    </body>
</html>
